@font-face {
	font-family: beerFont;
	src: url('../images/beers.ttf') format('truetype');
}

body {
	background-color: #F5930A; 
	font-family: 'beerFont';
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
	color: #FFCC00;
}

.thumbnail {
	margin: 25px;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail img {
	width: 50%;
}

.well {
	width: 75%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

#map {
	margin-left: auto;
	margin-right: auto;
  height: 300px;
  width: 835px;
  border-radius: 4px;
}

#loading-gif {
	margin-top: 30px;
}

p {
	margin: 0 0 15px;
}

th {
	text-align: center;
}

table {
	margin-top: 35px;
}

table img {
	height: 100px;
	width: 100px;
}

.table-hover>tbody>tr:hover {
	background-color: #FFFDD0;
}

.hide {
	display: none;
}

#beer-icon {
	margin-top: -3px;
}

#title {
	margin-top: 0;
	padding-top: 17px;
	font-size: 78px;
}

#ask {
	font-size: 30px;
	margin-top: 35px;
	margin-bottom: 10px;
}

#beerInput {
	height: 40px;
	width: 500px;
}

#beerSubmit {
	height: 40px;
}

.container-top {
	height: 110px;
	background-color: #FFFDD0;
}

.container-mid {
	height: 40px;
	background-color: #ffcc00;
	margin-top: -2px;
}

.table-responsive {
	border: none;
}

.glyphicon-search {
	font-size: 24px;
}

.brew-button {
	background-color: #F5930A;  
	color: black;
}

@media screen and (max-width: 1199px) {
	#map {
		width: 618px;
	}
}

@media screen and (max-width: 991px) {
	#map {
		width: 462px;
	}
}

@media screen and (max-width: 839px) {
	#title {
		font-size: 55px;
	}
}

@media screen and (max-width: 750px) {
	#map {
		width: 400px;
	}
}

@media screen and (max-width: 580px) {
	#beerInput {
		width: 275px;
	}
}

@media screen and (max-width: 400px) {
	#beerInput {
		width: 245px;
	}
	#title {
		font-size: 40px;
	}
	#ask {
		font-size: 25px;
	}
	#map {
		width: 275px;
	}
}
