@font-face {
	font-family: beerFont;
	src: url('../images/beers.TTF') format('truetype');
}

body {
	background-color: #F5930A; 
	font-family: 'beerFont';

}

#title {
	font-size: 78px;
	margin-top: 35px;
	margin-bottom: 40px;
}

#beerInput {
	height: 40px;
	width: 500px;
}

#beerSubmit {
	height: 40px;
}

.container-top {
	height: 110px;
	background-color: #FFFDD0;
}

.container-fluid{
	height: 40px;
	background-color: #ffcc00;


}

.glyphicon-search {
	font-size: 24px;
}